[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/gohugo-ananke/ananke
[submodule "themes/PaperMod"]
	path = themes/PaperMod
	url = https://github.com/adityatelange/hugo-PaperMod.git
